body {
  margin: 0 auto;
  padding: 0px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.mycarouselinfo{
  margin: 5px;
}
.addressinfo{
  padding-left: 10px;
  min-height: 50px;
  background-color: #1F2437;
  display: flex;
  flex-direction: column;
}
.emailp{
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
  font-size: 12px;
  top: 0;
}
.emailp a{
  text-decoration: none;
  margin-left: 10px;
}
.menup{
  padding-top: 5px;
  color: #1F2437;
  font-family: 'Poppins', sans-serif;
  font-size: 20px;
  line-height: 20px;
  font-weight: 700;
}
.callinfo{
    padding-left: 10px;
    min-height: 30px;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
}
@media only screen and (min-width: 689px) {
  .mainmenu{    
    padding-left: 10px;
    min-height: 30px;
    background-color: #ffffff;
    /* display: flex;
    flex-direction: column; */
    position:fixed;
    top:0;
    width:100%;
    z-index:100;
}
  #menuicon{
    cursor: pointer;
    float: right;
    margin-right: 10px;
    padding-top: 10px;
  }

}
@media only screen and (max-width: 689px) { 
  .mainmenu{
    padding-left: 10px;
    min-height: 30px;
    background-color: #ffffff;
    text-align: center;
    position: fixed;
    top:0;
    width:100%;
    z-index:100;
  }
  #menuicon{
    cursor: pointer;
    text-align: center;
  }
}
@media only screen and (min-width: 580px) {
  .showthis{
    padding-left: 20px;
    padding-top: 5px;
  }
}
@media only screen and (max-width: 580px) {
  .showthis{
    padding-top: 5px;
    text-align: center;
  }
}

#openinghrs{
  padding-left: 25px;
}
#openinghrs p{
  padding-left: 25px;
}
#makecall{
  padding-left: 25px;
}
#makecall a{
  padding-left: 5px;
}
#makecall p{
  padding-left: 20px;
}
/* menu1 */
@media only screen and (min-width: 780px) { 
  .menu1{ 
    width: 100%;
  } 
}
@media only screen and (min-width: 780px) { 
  .menu1 ul{ 
    min-height: 40px;
    padding-top: 10px;
  } 
}
@media only screen and (min-width: 780px) { 
    .menu1 ul li { 
      display: inline; 
      color: #1F2437;
      font-weight: 600;
      font-size: 14px;
      padding-left: 10%;
      padding-top: 15px;
    } 
    .menu1 ul{
      list-style-type: none;
    }
    .menu1{
      flex-wrap: wrap;
      background-color: #ffffff;
      width: 100%;
      float: right;
      margin: 5px;
    }
    #menuicon{
      display: none;
    }
}
@media only screen and (max-width: 780px) { 
  .menu1 ul li { 
    display: none;
  } 
}
/* menu2 */
@media only screen and (min-width: 780px) { 
  .menu2{
    display: none;
  }
  .menu2 ul{
    display: none;
  }
  .menu2 ul li{
    display: none;
  }
}
@media only screen and (max-width: 780px) { 
  .menu2{
    width: 100%;
    margin-top: 1px;
  }
  .menu2 ul{
    background-color: #1F2437;
    list-style-type: none;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }
  .menu2 ul li { 
    display: block;
    color: #ffffff;
    padding-left: 10%;
    padding: 15px;
  } 
}
/* end of menu2 */
.carouselpage{
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  /* height: 50%; */
}
@media only screen and (max-width: 640px) { 
  .carouselpage{
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    height: 100%;
  } 
}
@media only screen and (max-width: 640px) { 
  .myfooter1 h6{ 
    font-size: 10px;
    color: #ffffff;
  } 
}
.myfooter1{
  background-color: #1F2437;
  min-height: 100px;
  padding-left: 20px;
}
.myfooter1 p{ 
  color: #ffffff;
} 
.copyright{
  min-height: 35px;
  padding-top: 10px;
  background-color: #050c1d;
  text-align: center;
}
.copyright p{
  color: #ffffff;
}
.logohere{
  margin-top: 10px;
  border-radius: 15px;
}
.totopicon{
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
}
#subscribeemail{
  max-width: 300px;
}
#retak{
  font-family: "Times New Roman", Times, serif;
  padding: 40px;
  font-size: 24px;
}
#loader1{
  width: 100px;
  margin-left: auto;
  margin-right: auto;
}
/* management login form css */
.loginform{
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid rgb(124, 124, 133);
  border-radius: 10px;
}.loginform h5{
  font-family: Impact;
  font-size: 25px;
}
.loginform p{
  font-size: 10px;
}
.profheader{
  background-color:#C0C0C0;
  border-radius: 5px;
  padding: 5px;
  color: #ffffff;
}
/* send to all form */
.sendtomany{
  width: 400px;
  padding: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  border: 1px solid rgb(124, 124, 133);
  border-radius: 10px;
}
.sendtomany h4{
  font-family: Impact;
  font-size: 25px;
}